<html>
  <head>
    <title>Jeremy Gousse - Portfolio</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  </head>

  <body>
    <header>
      <span class="name"><%= __('portfolio') %> - J&eacute;r&eacute;my Gouss&eacute;</span>
      <ul class="menu">
        <%
          for(var i = 0; i < menus.length; ++i) {
            var menu     = menus[i];
            var selected = (page == menu.name) ? 'selected' : '';
            var blank    = (menu.blank) ? '_blank' : ''; %>
            <%- include menu_item %>
        <% }
        if( admin ) {
          blank = '', selected = '';
          menu = { url: routes.admin.logout, name: 'logout' } %>
          <%- include menu_item %>
        <% } %>
        <li class="menu-item">
          <nav>
            <ul>
              <li class="dropdown">
                <a href="#"><%= languages.current.toUpperCase() %></a>
                <ul class="sub-menu">
                  <%
                    var locales = languages.locales;
                    for(var i = 0; i < locales.length; ++i) {
                      var language = locales[i];
                      if(language == languages.current)
                        continue; %>
                      <a href="/language/<%= language %>"><%= language.toUpperCase() %></a>
                  <% } %>
                </ul>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
    </header>

    <div class="page-content">
      <%- body %>
    </div>

    <footer><%= __('footer') %></footer>

    <script>
      $(document).ready(function() {
        // Menu slide
        var $drop_down = $('.dropdown');
        var $sub_menu  = $drop_down.children('.sub-menu');
        $sub_menu.css('width', $drop_down.outerWidth() + 'px');

        var slide_speed = 200;
        $drop_down.hover(
          function() { $sub_menu.slideDown(slide_speed); },
          function() { $sub_menu.slideUp(slide_speed); }
        );
      });
    </script>
  </body>
</html>
